{% extends "sentiment/base.html" %}
{% load static %}

{% block styles %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block js %}
    <!-- Only called when form is submitted -->
    {% if classes %}
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script>
        var percent = {{ probas }}; // set values for the slices of the pie chart
    </script>

    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endif %}
{% endblock js %}

{% block content %}
    <main>
        <!-- Title Div: Shows a brief introduction to the webpage -->
        <div>
            <h1>Sentiment Analysis</h1>
            <h5>Test whether your text shows negative, neutral, or positive emotions!</h5>
            <p style="font-size: 12px; margin-bottom: 1vh;"><i>Disclaimer:</i> The model used only has <b>64.73%</b> accuracy and <b>64.62%</b> F1 score.</p>
        </div>

        <!-- Only called when form is submitted -->
        {% if classes %}
        <!-- Text Div: Shows the text being analyzed (before preprocessing) -->
        <div>
            <h3>Text Analyzed</h3>
            <p id="p-text">{{ text }}</p>
        </div>

        <!-- Results Div: Shows the sentiment predicted and the probability percentages in table and pie chart form -->
        <div>
            <h3>Analysis Results</h3>
            <div id="row-div">
                <div id="left-div">
                    <div id="smiley-div">
                        <p id="p-smiley"><b>The text is:</b></p>
                        <img id="img-{{ prediction }}" src="{% static 'imgs/' %}{{ prediction }}.png" />
                        <h5 id="text-{{ prediction }}">{{ prediction }}</h5>
                    </div>

                    <div id="table-div">
                        <!-- Bootstrap Table -->
                        <table class="table table-striped table-hover table-light table-bordered table-sm text-center">
                            <thead>
                                <tr>
                                    <th scope="col" class="w-50">Sentiment Class</th>
                                    <th scope="col">Confidence Level</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for class, percent, color in classes %}
                                    <tr class="table-{{ color }}">
                                        <td scope="row">{{ class }}</td>
                                        <td>{{ percent }}%</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="chart-div">
                    <!-- Chart.js Pie Chart -->
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Form Div: Contains the form that receives the text input to be analyzed -->
        <div>
            <h3>Input Text</h3>
            <form action="{% url 'sentiment:analyze' %}" method="post">
                {% csrf_token %}
                <textarea name="text" id="fld-text" placeholder="Type your text here..." required></textarea>
                <button type="submit" id="btn-submit"><i class="bi bi-send-fill"></i></button>
            </form>
        </div>
    </main>
{% endblock content %}